<launch>
    <!-- Create the rosbag directory if it does not exist -->
    <arg name="rosbag_dir" default="$(find robot_control)/../../rosbag"/>
    <param name="~dir" value="$(arg rosbag_dir)"/>

    <!-- Start recording using rosbag -->
    <node pkg="rosbag" type="record" name="rosbag_record" required="true" output="screen"
      args="-O $(arg rosbag_dir)/$(anon recording) 
            /camera/color/camera_info
            /camera/color/image_raw
            /camera/depth/camera_info
            /camera/depth/image_rect_raw
            /camera/imu
            /camera/extrinsics/depth_to_color
            /camera/accel/imu_info
            /camera/gyro/imu_info
            /livox/imu
            /livox/lidar
            /tf
            /tf_static">
     </node>
</launch>
